/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/07/2015, 02:44:58 PM
    Author     : hielobo
*/

body {
    background-color: #FFFFFF;
    font-family: "Calibri", "Arial";
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #52657F;
    padding: 20px 0px;
    border-radius: 0px 0px 20px 20px;
}

header h1 {
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
}

span.italic {
    font-style: italic;
}

div#principal {
    border-radius: 10px;
    margin: 30px;
    padding: 10px 30px;
}

div#buttons {
    width: 400px;
    margin: 0px auto;
}

div#upload {
    background-color:#fff;
    border: 1px solid #ddd;
    border-radius:5px;
    display:inline-block;
    height: 30px;
    padding:3px 10px 3px 3px;
    position:relative;
    width: 240px;
}

div#upload:hover {
    opacity:0.9;
}

div#upload input[type="file"] {
    display: input-block;
    width: 100%;
    height: 30px;
    opacity: 0;
    cursor:pointer;
    position:absolute;
    left:0;
}
.uploadButton {
    background-color: #7F7F7F;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor:pointer;
    display: inline-block;
    height: 30px;
    margin-right:15px;
    width: auto;
    padding:0 20px;
    box-sizing: content-box;
}

.uploadButton:active {
    background-color: #CCCCCC;
}

#submit:hover {
    opacity: 0.9;
}

#fileName {
    font-family: Arial;
    font-size:14px;
}

#upload + .uploadButton {
    height:38px;
}

#submit {
    margin-left: 10px;
}

div#datos {
    width: 400px;
    margin: 40px auto;
}

div#thumb {
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    float: left;
}

output#show {
    height: 200px;
    width: 200px;
    position: absolute;
}

output img {
    height: 200px;
    width: 200px;
}

div#resultado {
    float: left;
    margin-left: 50px;
}